@import "/src/common/a11y.css";
/* 기본 색상 설정 */
:root {
  --grayScale-white: #fffcf9;
  --grayScale-black: #282725;

  --font-small-15: 0.9375rem;
  --font-default-16: 1rem;

  --spacing-10: 0.625rem;
  --spacing-30: 1.875rem;
}

/* 초기화 */
* {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--grayScale-white);
}

body * {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.nav-container {
  --nav-bg-color: var(--grayScale-black);
  --nav-font-color: var(--grayScale-white);

  background-color: var(--nav-bg-color);

  color: var(--grayScale-white);
}

.spilt-nav-head {
  background: green;
  width: 90rem;
  height: 5.125rem;
  margin: 0 auto;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linklist {
  --normal-padding-10: var(--spacing-10);
  --normal-gap-30: var(--spacing-30);

  background-color: pink;
  padding: var(--normal-padding-10);
  font-size: var(--font-default-16);
  width: 9.9375rem;
  height: 2.5rem;
  margin: 20.5px auto 21.5px 109px;
  display: inline-flex;

  ul {
    padding: var(--normal-padding-10);
    display: flex;
    gap: var(--normal-gap-30);
  }

  li {
    display: inline-block;
  }
}

.spilt-nav-body {
  width: 90rem;
  height: 12.1875rem;
}
